*{
    margin: 0;
    padding: 0;
}

.hd-module.active {
    display: block;
    position: absolute;
    top: 0;
    left: 30%;
    width: 40%;
    height: 125px;
    line-height: 125px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(222, 222, 0, .4);
}

.hd-module .module{
    padding: 5px;
    width: 20%;
    background-color: red;
  color: white;
  height: 100%;
  border-radius: 5px;

  -webkit-animation: 5s linear 0s infinite alternate move_eye;
          animation: 5s linear 0s infinite alternate move_eye;;
}

@-webkit-keyframes move_eye { from { margin-left: -80%; } to { margin-left: 80%; }  }
        @keyframes move_eye { from { margin-left: -80%; } to { margin-left: 80%; }  }

.hd-module {
    display: none;
}
.hd {
    display: none;
}
.hd.active{
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 125px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgb(200, 200, 200);
}

.hd .left,
.hd .right,
.hd .hd-test{
    /* width: 49%; */
    height: 125px;
    float: left;
    text-align: center;
}

.hd .left{
    width: 70%;
}

.hd .right,
.hd .right-test{
    width: 30%;
}

.hd .left *{
    margin: 2px 5px;
}

.hd .left .number-wrap{
    display: none;
}

.hd .left .number-wrap.active{
    display: block;
}

.hd .left .ga-param-wrap{
    display: none;
}

.hd .left .ga-param-wrap.active{
    display: block;
}
.hd .left .anneal-param-wrap{
    display: none;
}

.hd .left .anneal-param-wrap.active{
    display: block;
}

.hd .right,
.hd .right-test{
    display: none;
    overflow: hidden;
}

.hd .right.active,
.hd .right-test.active{
    display: block;
}

/* .hd .right-test.active{
    display: block;
} */


.hd .right *,
.hd .right-test * 
 {
     display: block;
    margin: 10px;
    /* padding: 0 3em; */
    width: 80%;
    background-color:#2E9FFF ;
    text-align: center;
    text-align-last: center;
    color: #fff;
    border-radius: 5px;
}

.hd .right-test label{
    background-color: whitesmoke;
    color: #000;
}

.hd .right *:hover,
.hd .right-test *:hover{
    cursor: pointer;
}

.hd .right .analyze{
    display: none;
}

.hd .right *.active{
    display: block;
}

/* .hd .right .test-wrap{
    display: none;
    font-size: .75em;
}

.right .test-wrap option{
    width: 3em;
    font-size: .75em;
}

.hd .right .test-wrap.active{
    display: block;
} */
/* .box { */
    .marble{
    position: absolute;
    /* margin: 200px auto; */
    top: 150px;
    left: 33%;
    /* margin: 0 auto; */
    width: 700px;
    height: 700px;
    /* border: 1px solid black; */
    border-radius: 50px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px 5px rgb(100, 100, 100);
}

.box #map-header{
    position: absolute;
    top: 5px;
    left: 75px
}


.box #map{
    position: absolute;
    top: 75px;
    left: 75px;
}