*{
    margin: 0;
    padding: 0;
}

.hd {
    margin: 0 auto;
    width: 40%;
    height: 125px;
    background-color: whitesmoke;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgb(200, 200, 200);
}

.hd .left,
.hd .right{
    /* width: 49%; */
    height: 125px;
    float: left;
    text-align: center;
}

.hd .left{
    width: 70%;
}

.hd .right{
    width: 30%;
}

.hd .left *{
    margin: 2px 5px;
}

.hd .left .number-wrap{
    display: none;
}

.hd .left .number-wrap.active{
    display: block;
}

.hd .left .ga-param-wrap{
    display: none;
}

.hd .left .ga-param-wrap.active{
    display: block;
}
.hd .left .anneal-param-wrap{
    display: none;
}

.hd .left .anneal-param-wrap.active{
    display: block;
}
.hd .right *{
    margin: 10px;
    /* padding: 0 3em; */
    width: 6em;
    background-color:#2E9FFF ;
    color: #fff;
    border-radius: 5px;
}

.hd .right *:hover{
    cursor: pointer;
}
/* .box { */
    .marble{
    position: absolute;
    /* margin: 200px auto; */
    top: 150px;
    left: 33%;
    /* margin: 0 auto; */
    width: 700px;
    height: 700px;
    /* border: 1px solid black; */
    border-radius: 50px;
    background-color: whitesmoke;
    box-shadow: 0 0 5px 5px rgb(100, 100, 100);
}

.box #map-header{
    position: absolute;
    top: 5px;
    left: 75px
}


.box #map{
    position: absolute;
    top: 75px;
    left: 75px;
}