*{
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 1000px;
    /* border: 1px solid black; */
}

.hd{
    position: relative;
    margin: 10px auto ;
    width: 70%;
    height: 80px;
    /* border: black 1px solid; */
    border-radius: 10px;
    overflow: hidden;
    background-color: #eee;
}

.hd .select-wrap,
.hd .show-wrap{
    /* margin: 0 auto; */
    /* width: 70%; */
    padding: 5px;
    width: 100%;
    height: 90px;
    /* line-height: 90px; */
    text-align: center;
    /* font-size: 1.5em; */
    /* background-color: #eee; */
}
.hd .select-wrap{
    position: absolute;
    top: 0;
    left: 0;
}
.hd .show-wrap{
    position: absolute;
    top: 100px;
    left: 0;
}
.select-wrap *{
    margin-left: .5em;
    /* line-height: 100%; */
    /* text-align: center; */
    font-size: 1em;
}

.select-button option{
    background-color: gainsboro;
}

.select-wrap .submit-btn:hover{
    cursor: pointer;
    font-size: large;
    /* background-color: darkseagreen; */
}

.select-wrap .submit-button{
    display: block;
    margin-left: 2em;
    border: 1px solid black;
    border-radius: 1px;
}

.box {
    position: absolute;
    top: 210px;
    left: 10%;
    /* margin: 0 auto; */
    width: 90%;
    height: 800px;
    /* border: 1px solid black; */
    border-radius: 50px;
    background-color: whitesmoke;
}